<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <title>Document</title>

</head>
<body>
<h2>ADD.html</h2>
<h3>This is a html file</h3>
<div id='text'>empty</div>
<button type="button" id="button1" onclick="callAndroid()">测试</button>
<div id="app">
    <v-app>
        <v-content>
            <v-container fluid class="text-xs-center">
                <v-tabs dark grow>
                    <v-toolbar color="cyan" dark>
                        <v-toolbar-side-icon></v-toolbar-side-icon>
                        <v-toolbar-title>Page title</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon>search</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>more_vert</v-icon>
                        </v-btn>
                        <v-tabs-bar class="cyan" slot="extension">
                            <v-tabs-slider color="yellow"></v-tabs-slider>
                            <v-tabs-item
                                    v-for="(item, i) in items"
                                    :key="i"
                                    :href="'#tab-' + (i + 1)"
                            >
                                {{ item }}
                            </v-tabs-item>
                            <v-menu :nudge-width="100" left bottom>
                                <v-tabs-item slot="activator">
                                    Menu
                                    <v-icon>arrow_drop_down</v-icon>
                                </v-tabs-item>
                                <v-list class="grey lighten-3">
                                    <v-list-tile
                                            tag="a"
                                            v-for="n in 4"
                                            :key="n"
                                            @click=""
                                    >
                                        Item {{ n }}
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </v-tabs-bar>
                    </v-toolbar>
                    <v-tabs-items>
                        <v-tabs-content
                                v-for="i in 5"
                                :key="i"
                                :id="'tab-' + i"
                        >
                            <v-card flat>
                                <v-card-text>{{ text }}</v-card-text>
                            </v-card>
                        </v-tabs-content>
                    </v-tabs-items>
                </v-tabs>
                <v-layout row wrap>
                    <v-flex xs12 sm6><span>Light Theme</span>
                        <v-card height="185px" flat color="white">
                            <v-card-text>
                                <div>
                                    <v-btn flat>Normal</v-btn>
                                </div>
                                <div>
                                    <v-btn flat color="primary">Primary</v-btn>
                                </div>
                                <div>
                                    <v-btn flat disabled>Disabled</v-btn>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6><span>Dark Theme</span>
                        <v-card height="185px" flat color="secondary">
                            <v-card-text>
                                <div>
                                    <v-btn flat dark>Normal</v-btn>
                                </div>
                                <div>
                                    <v-btn flat dark color="primary">Primary</v-btn>
                                </div>
                                <div>
                                    <v-btn flat dark disabled>Disabled</v-btn>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs11 sm5>
                        <v-menu
                                lazy
                                :close-on-content-click="false"
                                v-model="menu"
                                transition="scale-transition"
                                offset-y
                                full-width
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    label="Picker in menu"
                                    v-model="date"
                                    prepend-icon="event"
                                    readonly
                            ></v-text-field>
                            <v-date-picker v-model="date" no-title scrollable actions>
                                <template slot-scope="{ save, cancel }">
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="save">OK</v-btn>
                                    </v-card-actions>
                                </template>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs11 sm5>
                        <v-dialog
                                persistent
                                v-model="modal"
                                lazy
                                full-width
                                width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    label="Picker in dialog"
                                    v-model="date"
                                    prepend-icon="event"
                                    readonly
                            ></v-text-field>
                            <v-date-picker v-model="date" scrollable actions>
                                <template slot-scope="{ save, cancel }">
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="save">OK</v-btn>
                                    </v-card-actions>
                                </template>
                            </v-date-picker>
                        </v-dialog>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({ el: '#app' })
    function callAndroid(){
        document.getElementById('text').innerHTML=java.test()
    }
</script>
</body>
</html>